@model IEnumerable<PostIt.Domain.Entities.User>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<div class="@TempData["message-class"]"><span>@TempData["message"]</span></div>*@
<div class="panel panel-default">
    <div class="panel-heading">All users</div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Login</th>
                    <th>Added date</th>
                    <th>Email</th>
                    <th>Roles</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.UserId</td>
                        @*<td class="admin-post-title">@Html.ActionLink(item.Title, "Edit", new { item.NoteId })</td>*@
                        <td class="admin-user-name">@item.Name</td>
                        <td class="admin-user-login">@item.Login</td>
                        <td class="admin-user-adddate">@item.AddedDate</td>
                        <td class="admin-user-email">@item.Email</td>
                        <td class="admin-user-roles">
                            @foreach (var role in item.Roles.ToList())
                            {
                                @role.Name
                                @: 
                            }
                        </td>

@*                        <td class="admin-post-edit"><a href="@Url.Action("Edit", "Admin", new { NoteId = item.NoteId })"><i class="glyphicon glyphicon-pencil"></i></a></td>

                        <td class="admin-post-btn-delete">@using (Html.BeginForm("Delete", "Admin"))
                                                          {
                                                              @Html.Hidden("NoteId", item.NoteId)
                                                              <a href="" onclick="this.parentNode.submit(); return false;"><i class="glyphicon glyphicon-remove"></i></a>
                                                          }</td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<a href="@Url.Action("AddUser", "Admin")" class="btn btn-lg btn-success">Add new</a>
@*@Html.ActionLink("Create", "Create", new { }, new { @class = "btn btn-default" })*@